# This is just an example env file. Copy the varibles from this file into a new file called .env and fill in the values.

# The URL that points to the MongoDB Database that contains user information
DATABASE_URL="giantAssMongoDbUrlGoesHere"

# Just some random string that is used to encrypt the JWT token, use whatever you want
NEXTAUTH_JWT_SECRET="SuperSecretJWTSecret"
NEXTAUTH_SECRET="SuperSecretNextAuthSecret"